#HelloWorld
HelloWorld/.vs/*
HelloWorld/bin/*
HelloWorld/obj/*

#Numbers
Numbers/.vs/*
Numbers/Numbers/bin/*
Numbers/Numbers/obj/*

#Conditionals
Conditionals/.vs/*
Conditionals/Conditionals/bin/*
Conditionals/Conditionals/obj/*

#Lists
Lists/.vs/*
Lists/Lists/bin/*
Lists/Lists/obj/*

#OOP
OOP/.vs/*
OOP/OOP/bin/*
OOP/OOP/obj/*

#AutoProperties
AutoProperties/.vs/*
AutoProperties/AutoProperties/bin/*
AutoProperties/AutoProperties/obj/*

#Interpolations
Interpolations/.vs/*
Interpolations/Interpolations/bin/*
Interpolations/Interpolations/obj/*

#TutorialCSharp
TutorialCSharp/.vs/*
TutorialCSharp/TutorialCSharp/bin/*
TutorialCSharp/TutorialCSharp/obj/*

#BasicDeclarationsAndExpresions
BasicDeclarationsAndExpresions/.vs/*
BasicDeclarationsAndExpresions/obj/*
BasicDeclarationsAndExpresions/bin/*

FirstWPFapp/*