#HelloWorld
HelloWorld/.vs/*
HelloWorld/bin/*
HelloWorld/obj/*

#Numbers
Numbers/.vs/*
Numbers/Numbers/bin/*
Numbers/Numbers/obj/*

#Conditionals
Conditionals/.vs/*
Conditionals/Conditionals/bin/*
Conditionals/Conditionals/obj/*

#Lists
Lists/.vs/*
Lists/Lists/bin/*
Lists/Lists/obj/*